<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Room</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
</head>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(function () {
        $("#submit").bind("click", function () {
            let log = {};
            log.room_name = $("#room_name").val();
            log.description = $("#description").val();
            log.auth_need = $("#auth").val();
            alert("并不知道能不能创建成功，试着按照/room/name的格式访问一下");
            $.ajax("/create_room", {
                //请求方式
                type: "POST",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求头
                headers: {},
                //数据，json字符串
                data: JSON.stringify(log),
                //请求成功
                success: function (result) {

                },
                //请求失败，包含具体的错误信息
                error: function (e) {
                    alert("创建失败")
                }
            });
        })
    })
</script>
<body class="graient">

<h1 class="text-center faraway_top">Create Room</h1>
<div class="container faraway">
    <div class="center-block">
        <form role="form">
            <div class="form-group">
                <label for="room_name"><strong>Room Name: </strong></label>
                <input id="room_name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="description"><strong>Description: </strong></label>
                <input id="description" type="text" class="form-control">
            </div>
            <div class="form-group text-center center-block">
                <label><strong>Who can join?</strong>
                    <select id="auth" class="btn btn-dark">
                        <option value="users">All Users</option>
                        <option value="choose">Later choose</option>
                    </select>
                </label>
            </div>
            <br/><br/>
            <button class="btn btn-danger form-control" id="submit">Create Room</button>
        </form>
    </div>

</div>

</body>
</html>