<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waitti Message</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<body class="graient">
<div class="container">
    <div class="panel panel-default center-block text-center faraway_top">
        <div class="panel-body">
            <h2>Waitti Message</h2>
        </div>
        <div class="panel panel-default center-block innerbox main-panel">
            <div class="row">
                <div class="col-xs-1"><img src="../static/1.jpg" class="img-responsive img-circle" alt="Avatar"></div>
                <div class="col-xs-10">
                    <div class="alert alert-info info">信息！请注意这个信息。信息！请注意这个信息。信息！请注意这个信息。信息！请注意这个信息。信息！请注意这个信息
                    </div>
                </div>
            </div>
        </div>
        <div class="center-block text-area"><ul class="nav nav-pills nav-justified">
            <li><a href="#" ><i class="fa fa-smile-o" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-folder-o" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
        </ul></div>

        <div class="panel panel-default center-block text-area2">
            <textarea style="height: 100%;width: 100%;resize: none" class="innerbox"></textarea>
        </div>
    </div>
</div>

</body>
</html>