<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join in Room</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
</head>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<body class="graient">

<h1 class="text-center faraway_top">Join in room</h1>
<div class="container faraway">
    <div class="center-block">
        <form role="form">
            <div class="form-group">
                <label for="room_name"><strong>Room Name: </strong></label>
                <input id="room_name" type="text" class="form-control" placeholder="请直接以/room/room_name的方式访问，如果需要创建房间请访问/create">
            </div>
            <br/><br/>
            <button class="btn btn-danger form-control" id="submit">Join in</button>
        </form>
    </div>

</div>

</body>
</html>