<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    $(function () {
        $("#submit").bind("click", function () {
            let log = {};
            log.username = $("#username").val();
            log.password = $("#password").val();
            $.ajax("/login", {
                //请求方式
                type: "POST",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求头
                headers: {},
                //数据，json字符串
                data: JSON.stringify(log),
                //请求成功
                success: function (result) {
                    alert("登陆成功,即将跳转...");
                    window.location.replace("/room/test");
                },
                //请求失败，包含具体的错误信息
                error: function (e) {
                    alert("登陆失败")
                }
            });
        })
    })
</script>
<body>
<div class="container">
    <form>
    <div>
        <label for="username">Username: </label>
        <input id="username" type="text">
    </div>
    <div>
        <label for="password">Password: </label>
        <input id="password" type="password">
    </div>
        <button class="btn btn-default" id="submit">Login</button>
</form>
</div>

</body>
</html>