<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
</head>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(function () {
        $("#submit").bind("click", function () {
            let log = {};
            log.username = $("#username").val();
            log.password = $("#password").val();
            log.nickname = $("#nickname").val();
            log.mailbox = $("#mailbox").val();
            alert("并不知道能否注册成功，试着登陆一下就知道了");
            $.ajax("/sign", {
                //请求方式
                type: "POST",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求头
                headers: {},
                //数据，json字符串
                data: JSON.stringify(log),
                //请求成功
                success: function () {
                    alert("即将跳转...如不跳转，请自行访问/join或/room/room_name");
                    window.location.replace("/join");
                },
                //请求失败，包含具体的错误信息
                error: function (e) {
                    alert("注册失败")
                }
            });
        });
    })
</script>
<body class="graient">

<h1 class="text-center faraway_top">Sign up</h1>
<div class="container faraway">
    <div class="center-block">
        <form role="form">
            <div class="form-group">
                <label for="username"><strong>Username: </strong></label>
                <input id="username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="password"><strong>Password: </strong></label>
                <input id="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="nickname"><strong>Nickname: </strong></label>
                <input id="nickname" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="mailbox"><strong>Mailbox: </strong></label>
                <input id="mailbox" type="text" class="form-control">
            </div>
            <br/><br/>
            <button class="btn btn-danger form-control" id="submit">Sign up</button>
            <br/><br/>
            <a class="btn btn-danger form-control" id="login_2" href="{{ url_for('login2') }}">Have an Account? Log in</a>
        </form>
    </div>

</div>

</body>
</html>